

<%- include('partials/header') %>
<div class="container col-xxl-12 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5 border rounded border-white border-3">
        
        <div class="col-10 col-lg-10 col-xl-6">
        <img src="starting-img.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-xl-6">
        <p class="lead">"Unleash Your Ideas, Craft Your Story, and Watch Your Content Come Alive!"</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="/signup"><button type="button" class="btn btn-outline-light">Sign Up</button></a>
        <a href="/login"><button type="button" class="btn btn-outline-light">Login</button></a>
        </div>
        </div>
    </div>
</div>
<div class="container px-4 py-5 my-5 border rounded border-white border-3" id="custom-cards">
    <h1 class="pb-2 fw-bolder border-bottom text-center">Features</h1>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" >
          <div class="d-flex flex-column h-100 p-5 pb-3 card text-bg-success">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Instant Blog Setup</h3>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" >
          <div class="d-flex flex-column h-100 p-5 pb-3  text-shadow-1 card text-bg-info">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Responsive Design Templates</h3>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card text-bg-warning card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1 card text-bg-warning ">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Effortless Content Publishing</h3>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="container pt-3 pb-0 mb-5 border rounded border-white border-3">
    <div class="container px-4 py-5 pb-0  " id="custom-cards">
        <h1 class="pb-2 fw-bolder border-bottom text-center mb-3">Pricing</h1>
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="card black mb-4 rounded-3 shadow-sm border-light border-4">
            <div class="card-header py-3 price">
              <h4 class="my-0 fw-normal">Free</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$0/mo</h1>
              <ul class="list-unstyled fs-4 mt-3 mb-4">
                <li>10 Blogs Creation</li>
                <li>1 user included</li>
                <li>Email support</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg price">Sign up for free</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card black mb-4 rounded-3 shadow-sm border-light border-4">
            <div class="card-header py-3 price">
              <h4 class="my-0 fw-normal">Pro</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$15/mo</h1>
              <ul class="list-unstyled fs-4 mt-3 mb-4">
                <li>50 Blogs Creation</li>
                <li>5 users included</li>
                <li>Phone and email support</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg price">Get started</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card black mb-4 rounded-3 shadow-sm border-light border-4">
            <div class="card-header py-3 price">
              <h4 class="my-0 fw-normal ">Enterprise</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$29/mo</h1>
              <ul class="list-unstyled fs-4 mt-3 mb-4">
                <li>Unlimited Blogs Creation</li>
                <li>15 users included</li>
                <li>Priority email support</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg price">Get Started</button>
            </div>
          </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %>